[alias]
        amend = commit --amend --no-edit
        am = amend
	br = branch
	ci = commit
	co = checkout
	df = diff --word-diff
	dt = difftool
	l = "!f() { if [ -r ~/.git-log-ci ]; then sh ~/.git-log-ci \"$@\"; else git log --oneline --decorate --graph --all -n 20 \"$@\"; fi; }; f"
	mt = mergetool
	pl = pull
	ps = push
	root = rev-parse --show-toplevel
	st = status -sb
   	cl = clone
        diffprev = diff HEAD^
        diffprevntest = diff HEAD^ -- . ':(exclude)*.test.*' ':(exclude)*.spec.*'
        diffprevtest = diff HEAD^ -- '*.test.*' '*.spec.*'
        diffntest = diff -- . ':(exclude)*.test.*' ':(exclude)*.spec.*'
        difftest = diff -- '*.test.*' '*.spec.*'
        stprev = diff --name-status HEAD^
	git = !git
[push]
	default = current
[diff]
	tool = vimdiff
	guitool = opendiff
[difftool]
	prompt = false
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
[merge]
	tool = vimdiff
[mergetool]
	prompt = false
	keepBackup = true
[include]
        path = ~/.gitconfig-local
